
# gihub files

#client pathes
crm/

# docker files
docker-compose.yml

# "database" dir
server/database/mehConfig.json

#project enviromental config files
server/config.json

#build
server/build/
server/br.sh

#vscode dirs
.vscode/
server/.vscode/

#clang-format
.clang-format

# дополнительные директории для интеграционных тестов на python (эти директории нужны не всем)
testing-server-handlers/tests/__pycache__/
testing-server-handlers/tests/.pytest_cache/
testing-server-handlers/tests/bin/
testing-server-handlers/tests/include/
testing-server-handlers/tests/lib/
testing-server-handlers/tests/lib64
testing-server-handlers/tests/pyvenv.cfg